@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  animation: scroll-marquee 6s linear infinite;
}

.marquee-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  /* Fixed width for smooth animation */
}

.marquee-inner {
  display: inline-flex;
  gap: 2rem;
  /* Adds space for looping effect */
}

body {
  @apply font-urbanist;
}

/* Navbar Dropdown feature CSS */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}


/* Spotify-like Scrollbar */
::-webkit-scrollbar {
  width: 3px; /* Slim scrollbar */
  height: 3px; /* Horizontal scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: transparent; /* Fully transparent when idle */
  border-radius: 10px;
}

/* Scrollbar Thumb (Hidden by Default) */
::-webkit-scrollbar-thumb {
  background: transparent; /* Invisible when not scrolling */
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

/* Scrollbar on Hover/Scrolling */
*::-webkit-scrollbar-thumb {
  background: #1db9541d; /* Spotify green */
}

*::-webkit-scrollbar-thumb:focus {
  background: #1ed75f1d; /* Brighter green */
}

